<h1>Корзина</h1>

<div id="card">
    {{#if courses.length}}
    <table class="striped">
        <thead>
            <tr>
                <th>Название</th>
                <th>Кол-во</th>
                <th>Цена</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}


            <tr>
                <td>{{title}}</td>
                <td id="count">{{count}}</td>
                <td class="price total-table__price">{{price}}</td>
                <td>
                    <button type="submit" class="btn-floating btn-small waves-effect waves-light red js-remove js-remove material-icons" data-id="{{id}}">remove</button>
                </td>
            </tr>


            {{/each}}
        </tbody>
    </table>
    <div class="total">
        <div>
            <strong>
                Итого:
            </strong>
        </div>
        <div class="price total-table__price" id="total-price">{{priceJson}}</div>
    </div>
    {{else}}
    <p>Корзина пуста</p>
    {{/if}}
</div>