<h2>Мои заказы</h2>

{{#if orders.length}}

<div class="row">
    {{#each orders}}
    <div class="col s6 offset-s3">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Номер заказа - {{id}}</span>
                <p>{{user.name}}</p>
                <p>{{user.userId.email}}</p>
                <p class="date">{{date}}</p>
            </div>
            <div class="collection">
                {{#each courses}}
                <a href="/courses/{{course._id}}" class="collection-item" target="_blank">Курс: {{course.title}}</a>
                {{/each}}
            </div>
            <div class="price-padding">
                <span>Сумма заказа:</span>
                <span class="price">{{price}}</span>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{else}}
<p>Заказов нет</p>
{{/if}}

{{!-- 638a3abaece7f88b1123299a --}}