<h1>Профиль</h1>

<div class="row">

    <div class="col s4">
        {{#if user.avatarURL}}
        <img class="avatar-img" src="/{{user.avatarURL}}" alt="Аватар" />
        {{else}}
        <img class="avatar-img"
            src="https://images.unsplash.com/photo-1618685959528-2700ba389504?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80"
            alt="Аватар" />
        {{/if}}
    </div>



    <div class="col s8">
        <form action="/profile" method="post" enctype="multipart/form-data">
            <h4 class="none-margin--top">Информация</h4>
            <div class="input-field inline">
                <input id="text" name="name" type="text" class="validate white-text" value="{{user.name}}" required>
                <label for="text">Вашу имя</label>
                <span class="helper-text" data-error="Введите имя"></span>
            </div>
            <div class="input-field">
                <input id="email" name="email" type="email" class="validate white-text" value="{{user.email}}" required>
                <label for="email">Email</label>
                <span class="helper-text" data-error="Введите email"></span>
            </div>

            <div class="file-field input-field">
                <div class="btn red">
                    <span>Avatar</span>
                    <input class="white-text" type="file" name="avatar">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>

            <button class="btn" type="submit">Изменить</button>
        </form>
    </div>

</div>

{{#if isAdmin}}
<div class="row section">
    <div><a href="/allusers" class="btn red">выгрузить пользователей</a></div>
    <div>
        <ul class="collection">
            {{#each users}}
            <form action="/allusers/remove/{{id}}" method="post">
                <li class="collection-item avatar black">
                    <i class="material-icons circle green">insert_chart</i>
                    <span class="title">User - {{name}}</span>
                    <p>Email: {{email}}<br>
                    <button type="submit">remove</button>
                </li>
            </form>
            {{/each}}
        </ul>

    </div>
</div>

{{/if}}